# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.venv/
*.egg-info/
dist/
.pytest_cache/

# Node
node_modules/
dist/
.vite/

# Data — don't push large files
data/raw/*.csv
data/processed/*.csv
data/hotspots/*.json

# OS
.DS_Store
Thumbs.db

# Notebooks
.ipynb_checkpoints/

# IDE
.vscode/
.idea/